body{
    padding: 30px 0;
    background-color: black;
    color: white;
}

h1{
    font-size: 40px;
}

.wrapper-main{
    width: 900px;
    border: 1px solid white;
    margin: 0 auto;
    text-align: center;
}

.wrapper-information{
    width: 700px;
    margin: 0 auto;
    border: 1px solid white;
    margin: 0 auto;
    padding: 50px 0;
}

a{
    color: white;
    line-height: 2;
}

.img{
    width: 500px;
}